
.container{
    width: 1280px;
    height: 720px;
    background-color: rgb(90, 216, 216);
    display: flex;
    flex-wrap: wrap;

    padding: 0;
}

.innerbox{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: aliceblue;
    width: 20px;
    height: 20px;
    border: 2px solid black;
}

.innerbox:hover{
    background-color: blue;
}